[submodule "3rd/libev"]
	path = 3rd/libev
	url = https://github.com/xnervwang/libev.git
[submodule "3rd/udns"]
	path = 3rd/udns
	url = https://github.com/ortclib/udns.git
[submodule "3rd/json-parser"]
	path = 3rd/json-parser
	url = https://github.com/udp/json-parser.git
