[submodule "3rd/c-ares"]
	path = 3rd/c-ares
	url = https://github.com/zhc105/c-ares.git
	branch = dev
	ignore = dirty
[submodule "3rd/libev"]
	path = 3rd/libev
	url = https://github.com/zhc105/libev.git
	ignore = dirty
[submodule "3rd/json-parser"]
	path = 3rd/json-parser
	url = https://github.com/zhc105/json-parser.git
	ignore = dirty